In [1]:
import pickle
import pandas as pd

In [37]:
gen0 = 'Data/Data/2019_04_53_comm_cs_conn_Run0_Gen0.dat'
gen1 = 'Data/Data/2019_04_53_comm_cs_conn_Run0_Gen1.dat'
gen2 = 'Data/Data/2019_04_53_comm_cs_conn_Run0_Gen2.dat'
final = 'Data/Data/2019_04_53_comm_cs_conn_Run0_final.genome'
e = 'Data/Data/2019_04_53_comm_cs_conn_Run0.exp'

In [32]:
pd.read_csv(gen0)[['pop', 'locus_0', 'locus_1', 'locus_2', 'total_fit']]

   pop  locus_0  locus_1  locus_2  total_fit
0    0      254        8      224  44.750000
1    1       17       41      145  17.916667
2    2      235       18       27  61.500000
3    3      154      144      254  82.750000
4    4       67      231       15  25.250000
5    5      230      117       84  13.583333
6    6      232      123      225   0.000000
7    7       50      157        1   0.000000
8    8      237       35       94   0.000000
9    9       58      107      141   0.000000

In [33]:
pd.read_csv(gen1)[['pop', 'locus_0', 'locus_1', 'locus_2', 'total_fit']]

   pop  locus_0  locus_1  locus_2  total_fit
0    0      154      213      254   7.416667
1    1      154      144      254  16.416667
2    2      154      144      254  87.416667
3    3      154      144      254  62.083333
4    4      154      144      254  23.583333
5    5      235       18       27  83.250000
6    6      235       18       27   0.000000
7    7      235       18       27   0.000000
8    8      235       18       27   0.000000
9    9      235       18       27   0.000000

In [34]:
pd.read_csv(gen2)[['pop', 'locus_0', 'locus_1', 'locus_2', 'total_fit']]

   pop  locus_0  locus_1  locus_2  total_fit
0    0      154      144      254   8.500000
1    1      154      144      254  25.416667
2    2      154      144      254   7.666667
3    3      154      144      254  20.500000
4    4      154      144      254   0.000000
5    5      235       18       27   0.000000
6    6      235       18       27   0.000000
7    7      235       18       27   0.000000
8    8      235       18       27   0.000000
9    9      235       18       27   0.000000

In [36]:
pd.read_csv(final)[['pop', 'locus_0', 'locus_1', 'locus_2']]

   pop  locus_0  locus_1  locus_2
0    0      154      144      254
1    1      135      144      254
2    2      154      144      254
3    3      154      144      254
4    4      154      144      254
5    5      154      144      254
6    6      154      144      254
7    7      154      144      254
8    8      154      144      254
9    9      154      144      254

In [40]:
exp = pickle.load(open(e, 'rb'))

In [53]:
print(exp.trial.ann.genome)
for g in exp.genome:
    print(g, '\n')

print(exp.trial.env.agents[0].ann.genome)

pd.read_csv(gen2)

[234, 152, 13, 149, 26, 220, 26, 6, 145, 33, 211, 36, 111, 93, 208, 218, 243, 237, 53, 157, 185, 64, 175, 149, 5, 180, 30, 231, 103, 117, 24, 143, 42, 166, 251, 161, 202, 117, 229, 45, 106, 143, 46, 60, 245, 170, 120, 72, 195, 74, 105, 23, 223, 17, 253, 56, 124, 200, 203, 31, 115, 139, 211, 189, 204, 233, 228, 133, 91]
[154, 144, 254, 216, 91, 77, 66, 222, 93, 213, 79, 199, 165, 49, 5, 107, 73, 4, 249, 250, 217, 132, 98, 17, 81, 0, 140, 59, 71, 215, 151, 161, 227, 255, 245, 187, 188, 129, 105, 95, 53, 146, 23, 162, 33, 25, 178, 101, 182, 17, 202, 247, 230, 224, 170, 89, 202, 183, 24, 41, 184, 97, 235, 157, 61, 118, 234, 238, 13]

[154, 144, 254, 216, 91, 77, 66, 222, 93, 213, 79, 199, 165, 49, 5, 107, 73, 4, 249, 250, 217, 132, 98, 17, 81, 0, 140, 59, 71, 215, 151, 161, 227, 255, 245, 187, 188, 129, 105, 95, 9, 146, 23, 162, 33, 25, 178, 101, 182, 17, 202, 247, 230, 224, 170, 89, 202, 183, 24, 41, 184, 97, 235, 157, 61, 118, 234, 238, 183]

[154, 144, 254, 216, 91, 117, 66, 222, 93, 213, 79, 199, 165, 49, 5, 107, 73, 4, 249, 250, 217, 132, 98, 17, 81, 0, 140, 59, 71, 215, 151, 161, 227, 255, 245, 187, 188, 129, 105, 95, 9, 146, 23, 162, 33, 25, 178, 101, 182, 17, 202, 247, 230, 224, 170, 89, 202, 183, 24, 41, 184, 97, 235, 157, 61, 118, 234, 238, 13]

[154, 144, 254, 216, 91, 77, 66, 222, 93, 213, 79, 199, 165, 49, 5, 107, 73, 4, 249, 250, 217, 132, 98, 17, 81, 0, 140, 59, 71, 215, 151, 161, 227, 255, 245, 187, 188, 129, 105, 95, 9, 146, 23, 162, 33, 25, 178, 101, 182, 17, 202, 247, 230, 224, 170, 89, 202, 183, 24, 41, 184, 97, 235, 157, 110, 118, 234, 238, 13]

[154, 144, 254, 216, 91, 77, 66, 222, 93, 213, 79, 199, 165, 49, 5, 107, 73, 4, 249, 250, 217, 132, 98, 17, 81, 0, 140, 59, 71, 215, 151, 161, 227, 255, 245, 187, 188, 129, 105, 95, 9, 146, 23, 162, 33, 25, 178, 101, 182, 17, 202, 247, 230, 224, 170, 89, 202, 183, 24, 41, 184, 97, 235, 157, 61, 118, 234, 238, 13]

[235, 18, 27, 47, 43, 153, 163, 19, 40, 155, 157, 148, 65, 56, 61, 96, 175, 64, 100, 178, 108, 85, 158, 190, 173, 186, 156, 243, 223, 124, 70, 109, 79, 78, 158, 64, 41, 49, 58, 193, 159, 205, 14, 19, 239, 226, 174, 30, 221, 237, 115, 136, 183, 22, 148, 12, 230, 134, 154, 119, 54, 73, 227, 89, 36, 15, 156, 121, 110]

[235, 18, 27, 47, 43, 153, 163, 19, 40, 155, 157, 148, 65, 56, 61, 96, 175, 64, 100, 178, 108, 110, 158, 190, 1, 186, 156, 243, 223, 124, 70, 109, 79, 78, 158, 64, 41, 49, 58, 193, 159, 205, 14, 19, 239, 226, 174, 30, 221, 237, 115, 136, 183, 22, 148, 12, 230, 134, 154, 119, 54, 73, 227, 89, 36, 129, 156, 121, 110]

[235, 18, 27, 47, 43, 153, 163, 19, 40, 155, 157, 148, 65, 56, 61, 96, 175, 64, 100, 178, 108, 110, 158, 190, 217, 186, 156, 243, 223, 124, 70, 109, 79, 78, 158, 64, 41, 49, 58, 193, 159, 205, 14, 19, 239, 226, 25, 30, 221, 237, 115, 136, 183, 22, 148, 12, 230, 134, 154, 119, 54, 73, 227, 89, 36, 15, 156, 121, 110]

[235, 18, 27, 47, 43, 153, 163, 19, 40, 155, 157, 148, 65, 56, 61, 96, 175, 64, 100, 178, 108, 110, 158, 190, 217, 186, 156, 243, 223, 124, 70, 109, 79, 78, 158, 64, 41, 49, 58, 193, 159, 205, 14, 19, 239, 226, 174, 30, 221, 237, 115, 136, 183, 22, 148, 12, 230, 134, 154, 119, 54, 73, 227, 89, 36, 15, 156, 121, 110]

[235, 18, 27, 47, 43, 153, 163, 19, 0, 155, 157, 148, 65, 56, 61, 96, 175, 64, 100, 178, 108, 110, 158, 190, 217, 186, 156, 243, 223, 124, 70, 109, 79, 78, 158, 64, 41, 49, 58, 193, 159, 205, 14, 19, 239, 226, 174, 30, 221, 237, 115, 136, 183, 22, 148, 12, 230, 134, 154, 119, 54, 73, 227, 89, 36, 15, 156, 121, 110]

AttributeError: 'str' object has no attribute 'genome'